* { box-sizing: border-box; font-family: sans-serif; }

body {
    background-color: #f0f2f5;
    display: flex; justify-content: center; align-items: center;
    height: 100vh; margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    position: relative; overflow: hidden;
    width: 850px; height: 500px;
}

.form-container {
    position: absolute; top: 0; height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container { 
    left: 0; 
    width: 50%; 
    z-index: 2; }
.sign-up-container { 
    left: 0; 
    width: 50%; 
    opacity: 0; 
    z-index: 1; 
}

.container.right-panel-active .sign-in-container { 
    transform: translateX(100%); 
    opacity: 0; 
}
.container.right-panel-active .sign-up-container { 
    transform: translateX(100%); 
    opacity: 1; 
    z-index: 5; 
}

form {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 0 50px; 
    height: 100%; 
    text-align: center;
}

.input-field, .input-group {
    background-color: #e8ebf3;
    border-radius: 10px; 
    display: flex; 
    align-items: center;
    width: 100%; 
    margin: 8px 0; 
    padding: 12px 15px;
}
 .passwordSecure {
        width: 100%; 
 }
input { 
    border: none; 
    background: transparent; 
    outline: none; 
    width: 100%; 
}
i { color: #333; }

.main-btn {
    background-color: #0095FD; 
    color: white;
    border-radius: 10px; 
    border: none; 
    padding: 12px 45px;
    font-weight: bold; 
    margin-top: 15px; 
    cursor: pointer;
}

.social-container { 
    display: flex; 
    margin-top: 15px; 
}
.social-box {
    border: 1px solid #ddd; 
    border-radius: 5px;
    margin: 0 5px; 
    height: 40px; 
    width: 45px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
}

.overlay-container {
    position: absolute; 
    top: 0; 
    left: 50%; 
    width: 50%; 
    height: 100%;
    overflow: hidden; 
    transition: transform 0.6s ease-in-out; 
    z-index: 100;
}

.container.right-panel-active .overlay-container { 
    transform: translateX(-100%); 
}

.overlay {
    background: #0095FD; 
    color: white;
    position: relative; 
    left: -100%; 
    height: 100%; 
    width: 200%;
    transform: translateX(0); 
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay { 
    transform: translateX(50%); 
}

.overlay-panel {
    position: absolute; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    top: 0; 
    height: 100%; 
    width: 50%; 
    text-align: center;
}

.overlay-right { 
    right: 0; 
}
.ghost {
    background: transparent; 
    border: 1px solid white;
    padding: 10px 40px; 
    border-radius: 10px; 
    color: white; 
    cursor: pointer;
}